python/.idea
python/Singleton/__pycache__
.idea
python/FactoryMethod/__pycache__
python/AbstractFactory/__pycache__
python/AbstractFactory/factories/__pycache__
python/AbstractFactory/gui_elements/__pycache__
python/Builder/__pycache__
python/Adapter/__pycache__
python/Decorator/__pycache__
python/ProxyPattern/__pycache__
python/test
python/facade/__pycache__
